* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*a{
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  padding-top: 150px; /* espaço para as duas navs fixas */
}

/* Primeiro NAV que permite o usuário navegar entre as telas principas */

.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, #924F14, #7E4818, #c58a57);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  z-index: 1000;
}

.logo img {
  height: 150%;
  max-height: 90px;
  margin-left: 30px;
  margin:30px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.menu-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.menu-links a:hover{
  color: rgba(255, 210, 127, 0.829);
  border: 30px;
  border-color: black;
}

.search-bar input {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  border-color: #b87429;
  width: 520px;
  font-size: 16px;
}

.iconeCarrinho {
  display: flex;
  gap: 25px;
}

.iconeCarrinho a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.account {
  display: inline-flex;
  align-items: center;
  gap: 8px; /* espaço entre o ícone e o texto */
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.account .icon {
  width: 35px;
  height: 35px;
}

/* Segundo NAV - que possibilita o usuário navegar entre os produtos */
.sub-nav {
  position: fixed;
  top: 92px; 
  width: 100%;
  background-color: #4d2900;
  padding: 14px 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.sub-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 70px;
}

.sub-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 4px;
}

/*Carrossel*/
.carousel {
    width: 1750px;
    height: 450px;
    overflow: hidden;
    margin: auto;
    position: relative;
  }

  .slides {
    display: flex;
    width: calc(1920px * 5); /* 5 imagens */
    animation: slideAnimation 15s infinite;
  }

  .slides img {
    width: 1750px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
  }

  @keyframes slideAnimation {
    0%    { transform: translateX(0); }
    20%   { transform: translateX(0); }
    25%   { transform: translateX(-1750px); }
    45%   { transform: translateX(-1750px); }
    50%   { transform: translateX(-3500px); }
    70%   { transform: translateX(-3500px); }
    75%   { transform: translateX(-5250px); }
    95%   { transform: translateX(-5250px); }
    100%  { transform: translateX(0); }
  }


 .icon-left, .icon-right {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }
  .icon-left {
    left: 20px;
    background: url(image/seta_esquerda.png);
    background-size: contain;
  }
  .icon-right {
    right: 20px;
    background: url(image/seta_direita.png);
    background-size: contain;
  }

  
/*Section dos benefícios*/
.beneficios_site {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 10px;
  background-color: #fff;
  text-align: center;
}

.beneficio {
  max-width: 200px;
  margin: 10px;
}

.beneficio img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.beneficio img:hover{
  transform: translateY(-10px);
}

.beneficio h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.beneficio .linha {
  display: block;
  width: 60px;
  height: 3px;
  background: linear-gradient(to right, #0D47A1, #1976D2, #1565C0);
  margin: 0 auto 10px;
}

.beneficio p {
  font-size: 14px;
  color: #333;
}



/*Seção dos lançamentos*/
.secao-lancamentos {
  max-width: 1200px;
  margin: auto;
}

.titulo-lancamentos {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.lista-produtos {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 0;
  margin: 0;
}

.produto-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 5px  rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.etiqueta-lancamento {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff6739;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  z-index: 1;
}

.imagem-produto {
  margin: 0;
  padding: 0;
}

.imagem-produto img {
  height:  200px;
  width: auto;
  display: block;
}

.descricao-produto {
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  background-color: #fafafa;
}

.area-botoes {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  gap: 10px;
  margin-top: auto;
}

.botao-veja-mais,
.botao-adicionar {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
  font-size: 14px;
}

.botao-veja-mais {
  background-color: #1976d2;
  color: white;
}

.botao-veja-mais a{
  text-decoration: none;
}

.botao-veja-mais:hover{
  background-color: #000157e7;
}

.botao-adicionar {
  background-color: #43a047;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.botao-adicionar:hover{
  background-color: #093f0b;
}

.area-botoes a{
  text-decoration: none;
}



/*Seção do Footer*/
.footer {
  background-color: #292b2c;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 40px 20px 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content article {
  flex: 1 1 200px;
  margin: 10px 20px;
}

.footer h2,
.footer h3 {
  color: #f9a825;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-payment ul,
.footer-social ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.footer-payment img,
.footer-social img {
  width: 40px;
  height: auto;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
}

.footer-social img:hover,
.footer-payment img:hover {
  transform: scale(1.1);
}

.footer-contact p {
  font-size: 14px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #555;
  padding-top: 15px;
  font-size: 13px;
  color: #ccc;
}
