* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*a{
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  padding-top: 150px; /* espaço para as duas navs fixas */
}

/* Primeiro NAV que permite o usuário navegar entre as telas principas */

.navegacaoPrincipal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, #924F14, #7E4818, #c58a57);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  z-index: 1000;
}

.logo img {
  height: 150%;
  max-height: 90px;
  margin-left: 30px;
  margin:30px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.menuPrincipal {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menuPrincipal a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.menuPrincipal a:hover{
  color: rgba(255, 210, 127, 0.829);
  border: 30px;
  border-color: black;
}

.barraPesquisa input {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  border-color: #b87429;
  width: 520px;
  font-size: 16px;
}

.iconeCarrinho {
  display: flex;
  gap: 25px;
}

.iconeCarrinho a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.account {
  display: inline-flex;
  align-items: center;
  gap: 8px; /* espaço entre o ícone e o texto */
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.account .icon {
  width: 35px;
  height: 35px;
}

/* Segundo NAV - que possibilita o usuário navegar entre os produtos */
.navegacaoSecundaria {
  position: fixed;
  top: 92px; 
  width: 100%;
  background-color: #4d2900;
  padding: 14px 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navegacaoSecundaria ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 70px;
}

.navegacaoSecundaria a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 4px;
}




/*Carrossel*/
.carousel {
    width: 1750px;
    height: 450px;
    overflow: hidden;
    margin: auto;
    position: relative;
  }

  .slides {
    display: flex;
    width: calc(1920px * 5); /* 5 imagens */
    animation: slideAnimation 15s infinite;
  }

  .slides img {
    width: 1750px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
  }

  /*Mexer para colocar a quinta imagem*/
  @keyframes slideAnimation {
    0%    { transform: translateX(0); }
    20%   { transform: translateX(0); }
    25%   { transform: translateX(-1750px); }
    45%   { transform: translateX(-1750px); }
    50%   { transform: translateX(-3500px); }
    70%   { transform: translateX(-3500px); }
    75%   { transform: translateX(-5250px); }
    95%   { transform: translateX(-5250px); }
    100%  { transform: translateX(0); }
  }



 .iconeLeft, .iconeRight {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }
  .iconeLeft {
    left: 20px;
    background: url(image/seta_esquerda.png);
    background-size: contain;
  }
  .iconeRight {
    right: 20px;
    background: url(image/seta_direita.png);
    background-size: contain;
  }




  
/*Seção dos benefícios*/
.beneficiosSite {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 10px;
  background-color: #fff;
  text-align: center;
}

.beneficio {
  max-width: 200px;
}

/*Código da imagem dentro dos benefícios*/
.beneficio img {
  width: 100px;
  height: auto;
  margin-bottom: 5px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.beneficio img:hover{
  transform: translateY(-9px);
}

.beneficio h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 5px;
}

.beneficio .linha {
  display: block;
  width: 60px;
  height: 3px;
  background: linear-gradient(to right, #0D47A1, #1976D2, #1565C0);
  margin: 0 auto 10px;
}

.beneficio p {
  font-size: 14px;
  color: #333;
}


/*Seção de lançamentos */

/* Título fora da seção azul */
#tituloLancamentos {
    font-size: 2.2rem;
    margin: 40px 0;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}


/* Seção com gradiente azul */
#secaoLancamentos {
    background: linear-gradient(to bottom, #116cd4cc, #4da4df);
    padding: 60px 10px 40px 10px;
    text-align: center;
}

/* Lista dos lançamentos */
.listaLancamentos {
     display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px; 
}

/* Cartão individual de produto */
.cartaoProduto {
     background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 260px; /* aumentamos a largura do card */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px; 
}

/* Etiqueta de lançamento */
.etiquetaLancamento {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff5c33;
    color: #fff;
    font-size: 16px;
    padding: 6px 15px;
    border-radius: 5px;
}

/* Imagem maior */
.imagemProduto {
    width: 190px;
    height: auto;
    margin: 12px 0;
}

/* Título do produto */
.nomeProduto {
    font-size: 1rem;
    margin: 8px 0;
    color: #333;
    text-align: center;
}

/* Preço */
.precoProduto {
    font-weight: bold;
    color: #CB3C3C;
    margin-bottom: 12px;
    font-size: 26px;
}

/* Botões */
.botaoDetalhes,
.botaoCarrinho {
    width: 100%;
    padding: 12px;
    margin: 4px 0;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.botaoDetalhes {
    background-color: #EF9737;
    color: white;
    transition: transform 0.3s ease;
}

/*Hover Botão Ver mais*/
.botaoDetalhes:hover{
  background-color: #b8641b;
  transform: translateY(-2px);
}

.botaoCarrinho {
    background-color: #70D17C;
    color: white;
    transition: transform 0.2s ease;
}
/*Hover adicionar ao Carrinho*/
.botaoCarrinho:hover{
  transform: translateY(-2px);
  background-color: #328E3D;
}


/*Imagens centrais da Home*/
.secaoDestaques {
    padding: 40px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #e0f0ff, #ffffff);
}

.galeriaDestaques {
    display: flex;
    justify-content: center;
    gap: 67px;
    flex-wrap: wrap;
}

.imagemDestaque {
    max-width: 500px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.imagemDestaque img {
    width: 100%;
    height: auto;
    display: block;
}

.imagemDestaque:hover {
    transform: scale(1.03);
}


/*Seção de Marcas Parceiras*/
.secaoMarcasParceiras {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.tituloMarcas {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #000;
}

.listaMarcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.listaMarcas figure {
    margin: 0;
    max-width: 170px;
    transition: transform 0.3s ease;
}

.listaMarcas figure:hover {
    transform: scale(1.1);
}

.listaMarcas img {
    width: 100%;
    height: auto;
    display: block;
}

/*Seção Feedback dos Clientes - ESTÁTICO*/
/* Cabeçalho da seção */
.cabecalhoDepoimentos {
    text-align: center;
    margin: 40px 0 20px 0;
    font-family: Arial, sans-serif;
}

.cabecalhoDepoimentos h2 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 10px;
}

.cabecalhoDepoimentos p {
    font-size: 1rem;
    color: #333;
}

/* Seção laranja de depoimentos */
.secaoDepoimentos {
    background-color: #f28c28;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.listaDepoimentos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Cartão individual */
.cartaoDepoimento {
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    padding: 15px 20px;
    max-width: 390px;
    min-width: 350px;
    gap: 15px;
    text-align:justify;
}

.fotoCliente {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.conteudoDepoimento {
    flex: 1;
}

.nomeCliente {
    font-size: 0.95rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #611f1f;
}

.cartaoDepoimento p {
    font-size: 0.9rem;
    color: #333;
}

/* Patinhas decorativas */
.rodapeDecorativo {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.rodapeDecorativo img {
    height: 25px;
}




/*Seção do Footer*/
.footer {
  background-color: #fef6f0;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
  padding-top: 40px;
  border-top: 4px solid #ffa94d;
}

.footerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.footerLogo img {
  height: 100px;
}

.footerNav {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.footerNav a {
  color: #444;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerNav a:hover {
  color: #ff7f2a;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.footerColuna {
  flex: 1 1 220px;
  margin: 20px;
}

.footerColuna h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #d66500;
}

.footerColuna p {
  font-size: 0.95rem;
  line-height: 1.6;
}

.iconesPagamento,
.iconesRedes {
  display: flex;
  gap: 12px;
  padding: 0;
  list-style: none;
}

.iconesPagamento img,
.iconesRedes img {
  width: 60px;
  height: auto;
  transition: transform 0.3s;
}

.iconesRedes img:hover {
  transform: scale(1.1);
}

.footerBottom {
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  padding: 20px 10px 40px;
}
